<!-- ========= HEADER CENTRALIZZATO ========= -->
<header class="main-header">
    <nav class="container">
        <a href="BASEPATH_REPLACEindex.html" class="logo" id="logo-link">
            <span class="logo-name">Simone Pizzi</span>
            <span class="logo-tagline">Idee, Storie e Sperimentazione</span>
        </a>
        <ul class="nav-menu">
            <li><a href="BASEPATH_REPLACEindex.html" id="nav-home">Home</a></li>
            <li><a href="BASEPATH_REPLACEpages/chi-sono/" id="nav-chi-sono">Sono Simone (blog)</a></li>
            <li><a href="#" class="disabled-nav-link" data-tooltip="Sezione in arrivo presto">Podcast</a></li>
            <li><a href="#" class="disabled-nav-link" data-tooltip="Sezione in arrivo presto">Libri</a></li>
            <li><a href="BASEPATH_REPLACEpages/software/" id="nav-software">Software</a></li>
            <li><a href="BASEPATH_REPLACEpages/videogiochi/" id="nav-videogiochi">Videogiochi</a></li>
            <li><a href="BASEPATH_REPLACEpages/contatti.html" id="nav-contatti">Contattami</a></li>
        </ul>
    </nav>
</header> 